*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0b0b0b;
    color:white;
}

header{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    background:#111;
    border-bottom:2px solid orange;
}

.logo{
    font-size:30px;
    font-weight:bold;
    color:orange;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    font-size:18px;
    transition:.3s;
}

nav a:hover{
    color:orange;
}

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px 10%;
    min-height:90vh;
}

.left{
    width:50%;
}

.left h3{
    color:orange;
    font-size:25px;
}

.left h1{
    font-size:60px;
    margin:10px 0;
}

.left h2{
    color:orange;
    margin-bottom:20px;
}

.left p{
    color:#ccc;
    line-height:1.8;
    margin-bottom:30px;
}

.btn,
.btn2{
    display:inline-block;
    padding:14px 30px;
    border-radius:8px;
    text-decoration:none;
    margin-right:15px;
    transition:.3s;
}

.btn{
    background:orange;
    color:black;
    font-weight:bold;
}

.btn:hover{
    background:white;
}

.btn2{
    border:2px solid orange;
    color:orange;
}

.btn2:hover{
    background:orange;
    color:black;
}

.social{
    margin-top:35px;
}

.social a{
    color:white;
    font-size:28px;
    margin-right:20px;
    transition:.3s;
}

.social a:hover{
    color:orange;
}

.right{
    width:40%;
    text-align:center;
}

.right img{
    width:380px;
    max-width:100%;
    border-radius:20px;
    border:5px solid orange;
    box-shadow:0 0 30px orange;
}

@media(max-width:900px){

.hero{
    flex-direction:column-reverse;
    text-align:center;
}

.left,
.right{
    width:100%;
}

.left h1{
    font-size:42px;
}

.right{
    margin-bottom:40px;
}

header{
    flex-direction:column;
}

nav{
    margin-top:15px;
}

}